<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-12 columns">
    <h3 class="subheader"><%= image_tag @user.picture, :class => 'circle' %> <%= @user.name %> <small><%= mail_to @user.email %></small></h3>


    <br />

    <%= link_to 'Editar', edit_user_path(@user) %> |
    <%= link_to 'Volver', users_path %>


  </div>
</div>

