<% content_for :title, "Nuevo producto - cloudmarket" %>

<% categories = { 'Frutas' => 'Frutas', 'Carnes' => 'Carnes', 'Pescados' => 'Pescados', 'Granos y procesados' => 'Granos y procesados', 'Tuberculos' => 'Tuberculos', 'Hortalizas' => 'Hortalizas', 'Licores' => 'Licores', 'Aseo' => 'Aseo', 'Hogar' => 'Hogar', 'Bebes' => 'bebes', 'Mascotas' => 'Mascotas', 'Vehiculos' => 'Vehiculos', 'Lacteos' => 'Lacteos' }%>
<% unidades = { 'Kilo' => 'Kilo', 'Gramos' => 'Gramos', 'Libra' => 'Libra', 'Litro' => 'Litro', 'Docena' => 'Docena', 'Bulto' => 'Bulto', 'Arroba' => 'Arroba', 'Caja' => 'Caja', 'Atado' => 'Atado'  }%>

<%= form_for([@user, @product] , :html => {:class => 'custom-set'}) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="large-8 columns">
        <div class="field">
          <%= f.label :title, 'Nombre:' %>
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <label>Nombre del lugar:</label>
          <input type="text" ng-model="lugar" googleplace/>
        </div>
        <div class="field">
          <%= f.label :storeName, 'Nombre corto del lugar' %>
          <%= f.text_field :storeName %>
        </div>
        <%= f.text_field :adress, "ng-model" => "lugar", :class => "hide" %>
      </div>
      <div class="large-4 columns">
       <div class="row">
		   <div class="large-6 columns">
			<div class="field">
	       	  <%= f.label :price, 'Precio' %>
	       	  <%= f.text_field :price%>
		  	</div>
		</div>
		<div class="large-6 columns">
			<div class="field">
			  <%= f.label :quantity, 'Cantidad' %>
			  <%= f.number_field :quantity %>
			</div>
		</div>
       </div>
        <% if current_user && current_user.admin? %>
        <div class="field">
          <%= f.label :highprice, 'Precio promedio' %>
          <%= f.text_field :highprice %>
        </div>
        <% end %>
        <div class="field">
          <%= f.label :available, '¿Comprar?' %>
          <%= f.check_box :available %>
        </div>
        <div class="field">
          <%= f.label :category, 'Categoría' %>
          <% list = categories.sort %>
          <%= f.select :category, list %>
        </div>
        <div class="field">
          <%= f.label :unit, 'Presentación' %>
          <% lista = unidades.sort %>
          <%= f.select :unit, lista %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="actions">
          <%= f.submit "Continuar", class: 'button success right' %>
        </div>
      </div>
    </div>
<% end %>


