<% content_for :title, "Editar producto - cloudmarket" %>

<% categories = { 'Frutas' => 'Frutas', 'Carnes' => 'Carnes', 'Pescados' => 'Pescados', 'Granos y procesados' => 'Granos y procesados', 'Tuberculos' => 'Tuberculos', 'Hortalizas' => 'Hortalizas', 'Licores' => 'Licores', 'Aseo' => 'Aseo', 'Hogar' => 'Hogar', 'Bebes' => 'bebes', 'Mascotas' => 'Mascotas', 'Vehiculos' => 'Vehiculos', 'Lacteos' => 'Lacteos' }%>
<% unidades = { 'Kilo' => 'Kilo', 'Gramos' => 'Gramos', 'Libra' => 'Libra', 'Litro' => 'Litro', 'Docena' => 'Docena', 'Bulto' => 'Bulto', 'Arroba' => 'Arroba', 'Caja' => 'Caja', 'Atado' => 'Atado'  }%>

<%= form_for([@user, @product] , :html => {:class => 'custom-set'}) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> No dejaron editar este producto:</h2>
		  <br />
          <ul class="no-bullet">
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="large-8 columns">
		<div class="row">
			<div class="large-8 columns">
					<div class="field">
					<%= f.label :title, raw('Nombre del producto: <span class="redtxt">*</span>') %>
					<%= f.text_field :title, :placeholder => "Nombre del producto, ej: Tomates"  %>
					</div>
			</div>
			<div class="large-4 columns">
				<div class="field">
					<%= f.label :price, raw('Precio: <span class="redtxt">*</span>') %>
					<%= f.number_field :price%>
				</div>
			</div>
		</div>
        <div class="field">
          <%= f.label :storeName, 'Nombre corto del lugar' %>
          <%= f.text_field :storeName %>
        </div>
        <%= f.text_field :adress, :class => "hide" %>
      </div>
      <div class="large-4 columns">
       <div class="row">
		   <div class="large-7 columns">
			<div class="field">
				<%= f.label :quantity, raw('Cantidad: <span class="redtxt">*</span>') %>
				<%= f.number_field :quantity, value: 1 %>
			</div>
		</div>
		<div class="large-5 columns">
			<div class="field">
				<%= f.label :unit, raw('Presentación: <span class="redtxt">*</span>') %>
				<% lista = unidades.sort %>
				<%= f.select :unit, lista %>
			</div>
		</div>
       </div>
	   <br />
        <% if current_user && current_user.admin? %>
        <div class="field">
          <%= f.label :highprice, 'Precio promedio' %>
          <%= f.text_field :highprice %>
        </div>
        <% end %>
        <div class="field">
           <%= f.label :available, '¿Marcar para comprar?' %>
           <%= f.check_box :available, {}, "true", "false" %>
        </div>
        <div class="field">
          <%= f.label :category, 'Categoría' %>
          <% list = categories.sort %>
          <%= f.select :category, list %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Guardar", class: 'button success right' %>
    </div>
<% end %>


