<% content_for :title, "Home - cloudmarket" %>

<div class="row">
  <div class="large-8 small-12 columns large-centered">
      <%= content_tag(:div, raw(notice+'<a href="#" class="close">&times;</a>'), class: 'alert-box success', 'data-alert' => '') if notice %>
      <%= content_tag(:div, alert,  class: 'alert-box alert', 'data-alert' => '' ) if alert  %>
    <h3 class="subheader">Alacena de <%= image_tag @user.picture, :class => 'circle' %> <%= @user.name %></h3>
    <hr>
	
    <form class="custom">
      <div class="row">
        <div class="large-9 columns">
			<input type="search" class="large" placeholder="¿Qué producto buscas?" ng-model="query">
        </div>
        <div class="large-3 columns">
          <label for="customDropdown">Orden:</label>
          <select id="customDropdown" ng-model="orderProp" class="form-control">
            <option value="title">Alfabético</option>
            <option value="category">Categoría</option>
          </select>
        </div>
      </div>
    </form>
	<hr />
	<% if current_user.id == @user.id %>
	<h3 class="text-right"><span class="graytxt"><span class="icon-signup"></span> TOTAL:</span> <span class="label radius">{{getPrice() | currency:'$' }}</span></h3>
	<% end %>
    <% if !@user.products.empty? %>
	<ul class="no-bullet listado" ui-sortable="sortableOptions" ng-model="products">
		<li ng-repeat="fridge in fridges | filter:query | orderBy:orderProp" class="{{fridge.category}}" id="{{fridge.user_id}}">
			<div class="title-info">
				<div class="row">
					<div class="large-6 columns">
						<h4>
							<span class="handle icon-list"></span> {{fridge.title}}
							<% if current_user && current_user.id == @user.id %>
							<a href="/users/{{fridge.user_id}}/products/{{fridge.id}}/edit" class="edit">
								<span class="icon-pencil"></span>
							</a>
							<a href="/users/{{fridge.user_id}}/products/{{fridge.id}}" class="delete" data-confirm="Estas seguro de querer borrarlo?" data-method="delete" rel="nofollow">
								<span class="icon-remove"></span>
							</a>
							<% end %>
						</h4>
						<% if current_user.id == @user.id %>
							<form action="#" class="custom-set" ng-show="fridge.available">
								<label for="checkbox{{$index}}"><input type="checkbox" id="checkbox{{$index}}"> Comprar</label>
							</form>
						<% end %>
					</div>
					<div class="large-6 columns">
						<div class="prices">
							<span class="market">{{fridge.price | currency:'$'}}</span>
						</div>
					</div>
				</div><!-- /row -->
			</div>
			<div class="more-info">
				<span class="left"><strong ng-bind="fridge.quantity"></strong><strong ng-bind="fridge.unit"></strong> </span> <span class="the-category {{fridge.category}}" ng-bind="fridge.category"></span>
				<div class="text-center place">
					<strong ng-bind="fridge.storeName"></strong>
					<small ng-bind="fridge.adress"></small>
				</div>
			</div>	
		</li>
	</ul>
    <% else %>
        <div data-alert class="alert-box secondary"><%= @user.name %> No has creado ningun producto.<a href="#" class="close">&times;</a></div>
    <% end %>

    <br>
    <% if current_user.id == @user.id %>
       <%= link_to 'Crear Producto', new_user_product_path(@user), :class => "button right success" %>
    <% end %>
   </div>
</div>

<% if current_user && current_user.admin? %>
<!-- <pre>{{products | json}}</pre> -->
<% end %>


